/* CUSTOM FONT FAMILY == SPACE-GROTESK */
@font-face {
  font-family: "font";
  src: url("/starter-code/assets/fonts/space-grotesk-font/SpaceGrotesk-VariableFont_wght.ttf");
}

/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap'); */

/* EVERYTHING */
* {
  font-family: "font";
  max-width: 1440px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* line-height: 1.2; */
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

/* HTML DOC */
html {
  overflow-x: hidden;
}

/* BODY TAG */
body {
  background-color: #fff;
  height: 100vh;
}

/* REUSABLES */
/* VARIABLES */
:root {
  --very-dark-blue: #1b1d23;
  --dark-grey: #60636d;
  --medium-grey: #7d828f;
  --light-grey: #c8ccd8;
  --very-light-grey: #eeeff4;
  --red-errors: #df5656;
}

p {
  color: var(--dark-grey);
  font-weight: 500;
  line-height: 1.4;
}

/* DOCUMENT MARGIN */
.mlmr {
  margin-left: 8rem;
  margin-right: 8rem;
}

img {
  object-fit: cover;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
  color: var(--very-light-grey);
  text-transform: capitalize;
  gap: 20px;
  padding: 18px 36px;
  border: 2px solid transparent;
  font-size: 18px;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  text-wrap: nowrap;
}

.btn img {
  width: 20px;
}

button:hover {
  background-color: var(--medium-grey);
  color: var(--light-grey);
  cursor: pointer;
}

/* TOP LEFT "FANCY" CONTAINER */
.top-left {
  position: absolute;
  left: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fancy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 156px;
}

.line {
  width: 2px;
  height: 75px;
  background-color: var(--light-grey);
}

.text-home {
  color: var(--light-grey);
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 20px;
  transform: rotate(90deg);
}

.header {
  /* margin: 0 8rem 40px 8rem; */
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 2.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 100px;
}

.logo img {
  width: 85px;
}

.link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.link-list a {
  color: var(--medium-grey);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  text-wrap: nowrap;
  transition: 0.4s ease-in-out;
  border-bottom: 2px solid transparent;
}

.link-list a:hover {
  color: var(--very-dark-blue);
  border-bottom: 2px solid var(--very-dark-blue);
}

.menu img {
  width: 20px;
  display: none;
}

/* SECTION 1 */
.section_1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20rem;
}

.section_1_img {
  position: absolute;
  background-image: url(/starter-code/assets/about/desktop/image-hero.jpg);
  background-color: #4949496e;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 320px;
}

.section_content {
  position: relative;
  left: 498px;
  top: 220px;
  z-index: 10;
  background-color: #fff;
}

.big_welcome h1 {
  position: absolute;
  margin-top: -7.8rem;
  margin-left: -1rem;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 12.5rem;
  color: var(--very-light-grey);
  z-index: 100;
}

.big_welcome h1,
.align_content {
  text-align: left;
}

.right {
  padding: 2rem;
}

.right_bottom {
  margin-top: 5rem;
  margin-left: 7rem;
}

.short_line {
  height: 1px;
  width: 5rem;
  background-color: var(--light-grey);
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.align_content h1 {
  font-size: 4rem;
  line-height: 1;
  font-weight: 800;
  text-wrap: nowrap;
  margin-bottom: 3rem;
}

.break {
  display: block;
}

/* SECTION 2 */
.section_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
  margin-bottom: 10rem;
}

.left .short_line {
  margin-top: -0.2rem;
  margin-bottom: 6rem;
}

.left h1 {
  margin-bottom: 6rem;
}

.align_content_right {
  background-image: url(/starter-code/assets/about/desktop/image-heritage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.para {
  margin-bottom: 2rem;
}

/* SECTION 3 */
.content_3_left h1 {
  font-size: 4rem;
  line-height: 1;
  font-weight: 800;
  text-wrap: nowrap;
}

.section_3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  margin-bottom: 12rem;
}

.content_3_right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.box {
  display: flex;
  flex-direction: column;
}

.img_grid {
  background-color: #a3a3a32e;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 160px;
  margin-bottom: 18px;
}

.item_1 {
  background-image: url("/starter-code/assets/about/desktop/avatar-jake.jpg");
}

.item_2 {
  background-image: url("/starter-code/assets/about/desktop/avatar-thompson.jpg");
}

.item_3 {
  background-image: url("/starter-code/assets/about/desktop/avatar-jackson.jpg");
}

.item_4 {
  background-image: url("/starter-code/assets/about/desktop/avatar-maria.jpg");
}

h1.name {
  color: var(--very-dark-blue);
  font-size: 22px;
  font-weight: 800;
}

.title {
  color: var(--dark-grey);
  font-size: 18px;
}

/* FOOTER SECTION */
.footer_sec {
  display: flex;
  /* gap: 40px; */
  align-items: center;
  position: relative;
}

.logo_f {
  background-color: var(--very-dark-blue);
  flex-basis: 200px;
  padding: 50px 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo_f img {
  width: 85px;
}

.footer_links {
  display: flex;
  gap: 40px;
  background-color: var(--light-grey);
  padding: 56px 60px;
  flex: 1;
  justify-content: flex-start;
  margin-right: 150px;
  /* margin-left: 10px; */
}

.footer_links a {
  color: var(--medium-grey);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  text-wrap: nowrap;
}

.proj_btn2 {
  position: absolute;
  right: -1px;
}

.proj_btn2 p{
  color: var(--very-light-grey);
}

.proj_btn2 p:hover{
  color: var(--light-grey);
}